span.after {
  position: relative;
  bottom: 12px;
  font-weight: 500;
  font-size: 15px;

}

span.before {
  font-size: 25px;
  font-weight: bold;
}

span.currency {
  font-weight: bold;
  font-size: 10px;
}
