@import "../../../styles/color";

:host {
  display: inline-block;
  min-width: 200px;
  margin: 4px;
}

button.primary {
  font-size: 18px;
  font-weight: 700;
  background-color: $primary-color-light;
  color: $white-color;
  width: 100%;
  padding: 12px;
  border: 0;  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  cursor: pointer;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: $primary-color-light radial-gradient(circle, transparent 1%, $primary-color-light 1%) center/15000%;
}
.ripple:active {
  background-color: $primary-color-dark;
  background-size: 100%;
  transition: background 0s;
}
