<div class="card">
  <div class="column">
    <div class="circle">
      <i class="material-icons">bookmark</i>
    </div>
  </div>
  <div class="column">
    <div class="title">Resto 1 semaine.</div>
    <div class="sub-title">12/04/2019</div>
    <div class="additional-information"><i class="material-icons">credit_card</i></div>
  </div>
  <div class="column">
    <amount [value]="22.59" [currency]="'euros'" [customStyle]="{color: '#808080'}"></amount>
  </div>
  <div class="column">
    <i class="material-icons left-icon">add_box</i>
  </div>
</div>
