@import "../../../styles/color";

:host {
  display: block;
}

div.card {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.10);
  display: flex;
  flex-flow: row;
  border-top: 1px solid $grey-color;
  div.column {
    padding: 2px 5px;
    margin: auto;
  }
  div.circle {
    padding: 12px;
    background: $primary-color-light;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    i.material-icons {
      color: $white-color;
    }
  }
  div.title {
    color: $primary-color-light;
    font-size: 15px;
    font-weight: bold;
  }
  div.sub-title {
    color: $secondary-color-dark;
    font-size: 14px;
  }
  div.additional-information {
    i {
      color: $secondary-color-dark;
    }
  }
  i.left-icon {
    color: $primary-color-light;
    font-size: 40px;
  }
}


