// try with color: 51 in https://www.canva.com/learn/100-color-combinations/

:root {
  --primary-color-light: #5EA8A7;
  --primary-color-dark: #257985;
  --secondary-color-dark: #808080;
  --secondary-color-light: #FF4447;
  --white-color: #FFFFFF;
  --grey-color: #EBEBEB;
}

// Default Theme (for old browsers like IE).
$primary-color-light: #5EA8A7;
$primary-color-dark: #257985;
$secondary-color-dark: #808080;
$secondary-color-light: #FF4447;
$white-color: #FFFFFF;
$grey-color: #EBEBEB;

// Customs value that can be updated from app modules.
$primary-color-light: var(--primary-color-light);
$primary-color-dark: var(--primary-color-dark);
$secondary-color-dark: var(--secondary-color-dark);
$secondary-color-light: var(--secondary-color-light);
$white-color: var(--white-color);
$grey-color: var(--grey-color);
