@import "../../../styles/color";

button.circular {
  background-color: $primary-color-light;
  border: none;
  i {
    color: $white-color;
    font-size: 35px;
  }
  margin: 0;
  font-weight: 700;
  color: $white-color;
  border: 0;  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  cursor: pointer;
  width: 60px;
  height: 60px;
  padding: 10px 10px;
  border-radius: 35px;
  line-height: 1.33;
  text-align: center;
  position: relative;
  bottom: 35px;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
  border-radius: 35px;
}
.ripple:hover {
  border-radius: 35px;
  background: $primary-color-light radial-gradient(circle, transparent 1%, $primary-color-light 1%) center/15000%;
}
.ripple:active {
  border-radius: 35px;
  background-color: $primary-color-dark;
  background-size: 100%;
  transition: background 0s;
}
