@import "../../../styles/color";

a.link {
  float: right;
  margin-top: 10px;
  cursor: pointer;
  span.text {
    line-height: 1;
    color: $secondary-color-dark;
    font-weight: bold;
    font-size: 14px;
  }
  i.material-icons {
    line-height: 1;
    color: $secondary-color-dark;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    top: 3px;
  }
}
