@import "../../../styles/color";

nav {
  position: fixed;
  bottom: 0;
  border-top: 1px solid $grey-color;
  background-color: $white-color;
  height: 50px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  div {
    text-align: center;
    i {
      color: $primary-color-light;
      font-size: 28px;
      &.active {
        color: $primary-color-dark;
        font-size: 30px;
      }
    }
  }

  /* Ripple effect */
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: $white-color radial-gradient(circle, transparent 1%, $grey-color 1%) center/15000%;
  }
  .ripple:active {
    background-color: $white-color;
    background-size: 100%;
    transition: background 0s;
  }
}
