<b4-title [underline]="true">Ajouter un nouveau produit.</b4-title>

<b4-row>
  <b4-container>
    <b4-input [name]="'address'" [icon]="'account_circle'" [type]="'with-icon'">
      <span with-icon>Mon adresse mail</span>
    </b4-input>
    <b4-input [name]="'name'" [icon]="'alarm_add'" [type]="'with-icon'">
      <span with-icon>Mon ville natale</span>
    </b4-input>
    <b4-input [name]="'last'" [icon]="'camera_enhance'" [type]="'with-icon'">
      <span with-icon>Mon nom complet</span>
    </b4-input>
  </b4-container>
  <b4-container>
    <b4-button>
      Changer de thème
    </b4-button>
    <b4-button [type]="'secondary'">
      Annuler
    </b4-button>
  </b4-container>
</b4-row>

