<main>
  <div class="container">
    <layout [size]="6" [align]="'middle'">
      <div class="content">
        <target-display [current]="80.99" [target]="100.13"></target-display>
      </div>
    </layout>
    <layout [size]="12" [align]="'middle'">
      <paragraph [style]="'police-1'">
        Vous avez dépassé le budget prévu pour le mois en cours. Le budget maximum pour le mois de février est de <span
        class="highlight">99,66 euros</span>. Vous avez dépensé <span class="highlight">33 euros</span> (environ <span
        class="highlight">40%</span>) de votre
        budget dans la nourriture et <span class="highlight">60 euros</span> dans des meubles
        pour maison.
      </paragraph>
      <paragraph>
        Vous pouvez avoir plus de détails concernant vos dépenses dans le tableau ci-dessous.
      </paragraph>
      <paragraph>
        Vous pouvez aussi consulter le résumé de vos dépenses sous forme de graphes.
      </paragraph>
    </layout>
  </div>

  <card></card>
  <card></card>
  <card></card>
  <div class="container">
    <b-link>Voir toutes mes dépenses</b-link>
  </div>
  <div class="container">
    <layout [size]="12" [align]="'middle'">
      <paragraph>
        Vos dépenses ont augmenté de <span class="highlight">20%</span> par rapport au mois dernier. Votre plus grande
        dépenses concernent l'achat d'un billet d'avion d'une valeur de <span class="highlight">300 euros.</span>
        votre budget à la fin de ce mois sera de: <span class="highlight">1700 euros.</span>
        Votre objectif budget est entre <span class="highlight">200 euros</span> et <span
        class="highlight">300 euros.</span>
        Vous n'avez pas atteint votre objectif dépenses.
      </paragraph>
    </layout>
  </div>
  <div class="container">
    <chart></chart>
  </div>
  <div class="container">
    <b-link>Voir les autres présentations</b-link>
  </div>

</main>
