/* You can add global styles to this file, and also import other style files */
@import "styles/color";

.hide {
  display: none;
}

.show {
  display: block;
}
span.highlight {
  color: $primary-color-light;
  font-weight: bold;
}

body, html {
  width: inherit;
  height: inherit;
}

div.list-view {
  border-bottom: 1px solid $grey-color;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: $primary-color-light radial-gradient(circle, transparent 1%, $primary-color-light 1%) center/15000%;
}
.ripple:active {
  background-color: $primary-color-dark;
  background-size: 100%;
  transition: background 0s;
}
