<div class="wrapper">
  <div class="animated-border">
    <div class="circle bottom">
      <div class="circle top" [ngStyle]="{'height':progress}">

      </div>
    </div>
  </div>
  <div class="inner-circle">
    <div class="current">
      <amount [value]="current" [currency]="'euros'" [animated]="true" [customStyle]="{color: '#5EA8A7'}"></amount>
    </div>
    <div class="divider"></div>
    <div class="target">
      <amount [value]="target" [customStyle]="{color: '#257985'}"></amount>
    </div>
  </div>
</div>
